#configuracion{
    margin-top: 6.87%;
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    background: rgba(217, 7, 255 ,0.08);
    border:1px solid;
    
}
#configuracion h3{
    text-align: center;
    text-decoration-line:underline;
    font-family: 'Sriracha', cursive;
}


#configuracion ul li {
    text-align: center;
    border-top: 1px solid;
    position: relative;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
}
#configuracion a{
    font-size: 20px;
}