#configuracion{
    margin-top: 2px;
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    background: blue;
    border-style: solid;
    
}
#configuracion h3{
    text-align: center;
    text-decoration-line:underline;
    font-family: 'Sriracha', cursive;
}


#configuracion ul li {
    text-align: center;
    border-top-style: solid;
    position: relative;
    cursor: pointer;
    margin-top: 25px;
}
#configuracion a{
    font-size: 20px;
}