@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url(config.css);
@import url(perfil.css);
@import url(contactos.css);
@import url(contenedor.css);

*{
    top: 5px;
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

