#perfil{
    width: 100%;
    height: 210px;
    background: red;
    border-style: solid;
    position: relative;
}
#perfil h3 {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 100%;
    font-size: 3.5rem;
    text-transform: uppercase;
    align-content: center;
    font-family: 'Sriracha', sans-serif;
    float: left;
    left: 50%;
    transform: translateX(-50%)
}

#perfil img{
    position: absolute;
    margin-left: 2rem;
    transform: translateY(-50%);
    float: left;
    width: 150px;
    height: auto;
    top: 50%;
    border-radius: 50%;
    border: 2px solid #FFFF;
    display: inline-block;
}