@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url(config.css);
@import url(perfil.css);
@import url(contactos.css);
@import url(mensajeria.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow: hidden;
}